{% extends "base.jinja2" %}
{% block content %}
{% if posts %}
    {% for post in posts %}
        <p><a href="{{ url('post', post=post['filename']) }}">{{ post['title'] }}</a></p>
    {% endfor %}
{% endif %}
{% if post %}
    <div class="post">
        {{ post|safe }}
    </div>
{% endif %}
{% endblock %}