-e .

# aiohttp dev tools
aiohttp-devtools==0.13.1

# mypy
mypy==0.761

# pytest
pytest==5.3.4
pytest-aiohttp==0.3.0

# Flake8
flake8==3.7.9
flake8-bugbear==20.1.2
flake8-commas==2.0.0
flake8-docstrings==1.5.0
flake8-import-order==0.18.1

# Other
black==19.10b0
coverage==5.0.3
safety==1.8.5
bandit==1.6.2
ipython==7.11.1
aiosqlite==0.11.0